[submodule "images/llm-guard"]
	path = images/llm-guard
	url = https://github.com/peopleforrester/llm-guard-cpu-offline.git
[submodule "gitops/ai-layer/guard-proxy"]
	path = gitops/ai-layer/guard-proxy
	url = https://github.com/peopleforrester/guard-proxy-agenticburn.git
